*.iml
.gradle/
.idea/
.kotlin/
local.properties
keystore.properties
*.jks
*.keystore
*.p12
*.pem
*.der
*.base64
app/release/
app/build/
build/
captures/
.externalNativeBuild/
.cxx/
secrets.properties
credentials.properties
**/google-services.json
*.m3u
*.m3u8
*.xmltv
private-epg*.xml
